name: release

on:
  push:
    # run only against tags
    tags:
      - '*'

# You might not need all of this...
permissions:
  contents: write
  packages: write
  issues: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container: ghcr.io/rust-cross/cargo-zigbuild
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Git Info
        id: git
        run: |
          echo "SOURCE_NAME=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "SOURCE_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
          echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0

      - name: Trust GitHub Workspace
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # 'latest', 'nightly', or a semver
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Attest Checksums
      #   uses: actions/attest-build-provenance@v3
      #   with:
      #     subject-checksums: ./dist/checksums.txt
